.entry-container{
    display: flex;
    margin-top: 7em;
    height: 83.5%;
    position: absolute;
    flex-direction: column;
    width: 33%;
    padding: 20px;

}

.nav{
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;    
}

.SadNav{
    transition: background-color .5s ease;
    background-color: #000942;
}

.ConfusedNav{
    transition: background-color .5s ease;
    background-color: #220e69;
}

.AngryNav{
    transition: background-color .5s ease;
    background-color: black;
}

.RelaxedNav{
    transition: background-color .5s ease;
    background-color: #1a3b2b;
}

.logo{
    margin-left: 8em;
}

.title-mood-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 5em;
}

.Title{
    height: 50%;
}

.mood{
    height: 50%;
}

.textarea{
    margin-top: 1em;
    resize: none;
    height: inherit;
}

.save{
    display: inline-flex;
    justify-content: end;
}

.home2{
    display: flex; 
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.home{
    align-items: center;
}

.Angry{
    transition: background-color .5s ease;
    background-color: var(--light-red);
}

.Happy{
    transition: background-color .5s ease;
    background-color: var(--light-yellow);
}

.Confused{
    transition: background-color .5s ease;
    background-color: #8945e7;
}

.Sad{
    transition: background-color .5s ease;
    background-color:#002daf;
}

.Relaxed{
    transition: background-color .5s ease;
    background-color: #8be78b;
}

.spotify-button{
   margin-left: 115em;
   margin-top: 56em;
   padding: 20px;

}