.entry-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 33%;
    padding: 20px;

}

.nav{
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;    
}

.logo{
    margin-left: 8em;
}

.title-mood-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 5em;
}

.Title{
    height: 50%;
}

.mood{
    height: 50%;
}

.textarea{
    margin-top: 1em;
    resize: none;
    height: inherit;
}

.save{
    display: inline-flex;
    justify-content: end;
}

.home2{
    display: flex; 
    flex-direction: column;
}

.home{
    align-items: center;
}

.Angry{
    transition: background-color .5s ease;
    background-color: var(--light-red);
}

.Happy{
    transition: background-color .5s ease;
    background-color: var(--light-yellow);
}

.Confused{
    transition: background-color .5s ease;
    background-color: #dbcbe5;
}

.Depressed{
    transition: background-color .5s ease;
    background-color:#0194fe;
}

.Relaxed{
    transition: background-color .5s ease;
    background-color: #8be78b;
}