@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
*,
html,
body {
	margin: 0;
}

* {
	font-family: 'Sunflower', sans-serif;
}

a {
	text-decoration: none;
}

:root {
	--light-yellow: #fde372;
	--dark-yellow: #f7b71e;
}

#App {
	height: 100vh;
}
