@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
*,
html,
body {
	margin: 0;
}

* {
	font-family: 'Sunflower', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

:root {
	--light-yellow: #fde372;
	--dark-yellow: #f7b71e;
	--dark-blue: #000942;
	--blue: #000fb4;
	--gray: #2a273f;
	--light-red: #df2525;
	--purple: #220e69;
	--light-purple: #8945e7;
	--green: #1a3b2b;
	--light-green: #8be78b;
}

.App {
	height: 100vh;
}
