.page-container{
	background: var(--light-yellow);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-box{
	background: #fefaf6;
	display: grid;
	grid-template-columns: 50% 50%;
	width: 95%;
	height: 95%;
	max-width: 1000px;
	max-height: 700px;
	border-radius: 10px;
	box-shadow:
	  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	  0 12.5px 10px rgba(0, 0, 0, 0.06),
	  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	  0 100px 80px rgba(0, 0, 0, 0.12)	
}

.loginPic{
	height: 100%;
	width: 100%;
}

.login-info{
	display: flex;
	justify-content: center;
	align-items: center;
}



