.navContainer{
	background-color:  var(--gray);
	display: flex;
	flex-direction: row;
	height: 8em;
	justify-content: space-between;
	align-items: center;
	padding-inline-start: 2em;
	padding-inline-end: 2em;
}

.logo{
	height: 5em;
}

.navHappy{
	background-color:  var(--gray);
}

.navSad{
	background-color: var(--dark-blue);
}

.navConfused{
	background-color: var(--purple);
}

.navAngry{
	background-color: black;
}

.navRelaxed{
	background-color: var(--green);
}