.gitignore
node_modules
backend/package-lock.json
backend/.env
backend/request.rest
backend/.dockerignore
backend/config/dbconfig.js
backend/.vscode
writtery-frontend/package-lock.json
writtery-frontend/pictures
